.header {
  padding: 20px;
  background-color: #ffffff;
  position: relative;
  z-index: 999;
}

.header p {
  font-size: 22px;
  line-height: 48px;
  float: left;
  margin-bottom: 0;
  margin-left: 20px;
  font-weight: bold;
}

.header a {
  color: #000;
}

.header .logo {
  width: 48px;
  float: left;
}

.landing {
  padding-left: 20px;
  background: #fff;
}

.landing .description,
.landing .slots {
  float: left;
}

.landing .description {
  width: 50%;
}

.landing .description .headline {
  font-size: 58px;
  line-height: 1;
  font-weight: bold;
}

.landing .description .subheadline {
  font-size: 38px;
  line-height: 1;
  color: #82817d;
}

.landing .slots {
  width: 50%;
  overflow: hidden;
}

.landing .slots img {
  display: block;
}


@media only screen and (max-width: 620px) {
  .landing {
    padding-left: 0!important;
  }

  .landing .description .headline {
    font-size: 78px!important;
  }

  .landing .description .subheadline {
    font-size: 48px!important;
  }

  .landing .description {
    width: 100%!important;
    padding-top: 10px;
    padding-bottom: 60px;
    box-sizing: border-box;
    padding-left: 20px;
  }

  .landing .slots {
    width: 100%!important;
    height: 300px;
  }
}

.bg {
  background-color: #f3f1ee;
  background-image: url(pattern-tile.png);
  background-size: 100%;
  padding: 80px 0;
}

.hr {
  height: 0;
  border-top: 2px dashed #eae5d8;
  position: relative;
  top: 100px;
}

.main {
  border-radius: 6px;
}

.footer {
  text-align: center;
  position: relative;
  z-index: 999;
}

.footer .avatar {
  width: 140px;
  height: 140px;
  display: inline-block;
  border-radius: 100%;
  border: 10px solid #4f3a3b;
}

.footer .desc {
  font-weight: bold;
}

.nice-name {
  margin-top: 20px;
  font-size: 38px;
  line-height: 1;
  font-weight: bold;
}

.copyright {
  padding: 10px 140px;
  display: inline-block;
  border-radius: 100px;
  color: #fff;
  margin: 20px 0;
  box-shadow: 0 2px 20px 0 rgba(237,66,100,0.4);
  background: -webkit-linear-gradient(-45deg, #ED4264, #FFEDBC);
  background: -o-linear-gradient(-45deg, #ED4264, #FFEDBC);
  background: -moz-linear-gradient(-45deg, #ED4264, #FFEDBC);
  background: linear-gradient(-45deg, #ED4264, #FFEDBC);
}

.copyright .logo {
  width: 28px;
  height: 28px;
  margin-top: 5px;
  vertical-align:top;
}

.copyright p {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0;
}
