html,
table.body {
  background-image: url(topography.png);
}

.header {
  border-radius: 0;
}

.header .slots {
  float: left;
  width: 50%;
  overflow: hidden;
}

.header .info {
  width: 50%;
  float: left;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.header .logo {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  padding: 20px;
}

.header .title {
  font-size: 58px!important;
  line-height: 1.4;
  font-weight: bold;
}

.header .desc {
  color: #FF356A;
  line-height: 1.4;
  font-size: 26px!important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header .hr {
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #FF356A;
}

.logo img {
  width: 48px;
  float: left;
}

.logo p {
  font-size: 22px;
  line-height: 48px;
  float: left;
  margin-bottom: 0;
  margin-left: 20px;
  font-weight: bold;
}

.markdown {
  background: initial;
}

.markdown-body {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, .7);
}

.footer {
  text-align: center;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .avatar {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 100%;
  border: 6px solid #4f3a3b;
}

.footer .desc {
  font-weight: bold;
}

.nice-name {
  margin-top: 20px;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
}

.copyright {
  display: inline-block;
  background: #12162d;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
}

@media only screen and (max-width: 620px) {
  .header .info {
    width: 100%!important;
  }

  .slots {
    width: 100%!important;
    height: 300px;
  }
}
