html,
table.body {
  background-image: url(topography.png);
}

.header {
  border-radius: 0;
}

.header td {
  background-image: url(background-eight-red.png);
  background-color: red;
  border-left: 10px solid #da0000;
  background-position: center center;
  background-size: 100% auto;
  color: #fff;
}

.header .logo {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 10px;
}

.header .title {
  font-size: 58px!important;
  line-height: 1.4;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
}

.header .desc {
  line-height: 1.4;
  font-size: 26px!important;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.header .hr {
  width: 40px;
  height: 3px;
  border-radius: 20px;
  background: #fff;
  margin: 20px auto;
}

.markdown {
  background: initial;
}

.markdown-body {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, .7);
}

.footer {
  text-align: center;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .avatar {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 100%;
  border: 6px solid #4f3a3b;
}

.footer .desc {
  font-weight: bold;
}

.nice-name {
  margin-top: 20px;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
}

.copyright {
  display: inline-block;
  background: #12162d;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
}
